{% extends 'base.html.twig'%}

{% block title %} Latest News
{% endblock %}


{% block content %}
    {{ form(form) }}
  <h1>Последние новости</h1>

    {% for article in articles %}
        <article>
        <p><h2> {{ article.rubric.name }} : {{ article.title }}</h2></p>
            <p><h4>Опубликовано: {{ article.published.format('Y-m-d') }}</h4></p>
            {% if  article.modified is not null %}
            <p><h4>Изменено: {{ article.modified.format('Y-m-d') }}</h4></p>
            {% endif %}
            <p>{{ article.content }}</p>
        </article>
    {% endfor %}
{% endblock %}

{% block footer %}
 <div>Сегодня {{ date }}</div>
{% endblock %}
